.ddjnrw-mst-map__leaflet-control {
  z-index: 1000;
  position: absolute;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  background-color: white;
  background-clip: padding-box;
  padding: 10px;
}
