.ddjnrw-mst-map {

  &__infobox {
    display: none;

    &.-visible {
      display: block;
    }

    padding: 20px;
    background-color: rgba(255, 255, 255, .95);

    @media (max-width: $screen-sm - 1) {  // FIXME mobile first??
      position: fixed;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: 1001;
      border: 1px solid black;
    }

    @include bp-sm {
      font-size: 20px;
      position: absolute;
      top: 60px;
      right: 0;
      padding-top: 0;
      width: 30%;
    }

    .button--close {
      position: absolute;
      top: 10px;
      right: 10px;

      @include hide-bigger;
    }
  }

  &__infobox-data {
    font-size: 15px;

    p.-hidden {
      visibility: hidden;
    }

    dt {
      padding-top: .7em;
      font-size: 20px;
      line-height: 1.5em;
      font-family: $font-neuzeit;
      font-weight: bold;
    }

    dd {
      font-weight: normal;
      line-height: 1.5em;
      margin-left: 0;
    }
  }

  &__value-badge {
    font-weight: bold;
    font-family: $font-neuzeit;
    text-align: center;
    padding: 4px 8px;
    font-size: 26px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;

    &--bright {
      color: $gray-lighter;
    }

    &--dark {
      color: $gray-darker;
    }

    &--stale {
      color: $gray-dark;
      background-color: $gray-light;
    }

  }
}
